rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /pads/{padId} {
      // Todos os usuários têm acesso ao mesmo conteúdo e podem realizar modificações
      allow read, write: if true;
    }
  }
}
